.weather__buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1px;
}

.weather__buttons_hour {
  display: flex;
  gap: 5px;
  align-items: center;
}

.weather__buttons_hour p {
  font-size: clamp(0.75rem, 2vw, 1rem);
}

.weather__buttons__units {
  display: flex;
  gap: 2px;
}

.weather__buttons span {
  padding: 0rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-weight: 700;
  line-height: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.weather__buttons img {
  height: 20px;
}

.weather__light .weather__buttons span {
  background-color: var(--lighter-primary-color);
  color: var(--lighter-text-light-color);
}

.weather__dark .weather__buttons span {
  background-color: var(--darker-primary-color);
  color: var(--darker-text-light-color);
}

.weather__light .weather__buttons span:hover {
  background-color: var(--lighter-primary-hover-color);
}

.weather__dark .weather__buttons span:hover {
  background-color: var(--darker-primary-hover-color);
}

.weather__light span.weather__buttons_selected {
  background-color: var(--lighter-primary-light-color);
}

.weather__dark span.weather__buttons_selected {
  background-color: var(--darker-primary-light-color);
}

.weather__graph {
  height: clamp(300px, 50vw, 500px);
}

.weather__hours {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
}

#modal__light.weather__hours {
    background-color: var(--lighterMapBackground);
    color: var(--lighter-text-dark-color);
}

#modal__dark.weather__hours {
    background-color: var(--darkerMapBackground);
    color: var(--darker-text-light-color);
}

.weather__hours p {
    font-size: clamp(1.25rem, 2vw, 2rem);
    padding: 1rem;
}

#modal__light span, #modal__light p {
    text-align: center;
    font-weight: bold;
    background-color: var(--lighter-primary-light-color);
    color: var(--lighter-text-light-color);
}

#modal__dark span, #modal__dark p {
        text-align: center;
    font-weight: bold;
    background-color: var(--darker-primary-light-color);
    color: var(--darker-text-light-color);
}

.weather__hours div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.weather__hours span {
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
}

#modal__light.weather__hours span:hover {
    background-color: var(--lighter-primary-hover-color);
}

#modal__dark.weather__hours span:hover {
    background-color: var(--darker-primary-hover-color);
}

#modal__light .weather__hours_selected {
    background-color: var(--lighter-secondary-color);
}

#modal__dark .weather__hours_selected {

    background-color: var(--darker-secondary-color);
}