#navbar__light,
#navbar__dark {
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content;
  font-size: clamp(0.75rem, 3vw, 1.25rem);
  gap: clamp(0.5rem, 1vw, 3rem);
  font-weight: 600;
  padding: clamp(5px, 1vw, 10px);
  height: clamp(40px, 10vw, 50px);
  position: fixed;
  z-index: 2;
}

#navbar__light {
  background-color: var(--lighter-primary-color);
  color: var(--lighter-text-light-color);
}

#navbar__dark {
  background-color: var(--darker-primary-color);
  color: var(--darker-text-light-color);
}

.navbar__links {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  gap: clamp(0.5rem, 2.5vw, 1rem);
}

#navbar__light a {
  color: var(--lighter-text-light-color);
}

#navbar__dark a {
  color: var(--darker-text-light-color);
}

.navbar__links a {
  text-decoration: none;
  font-size: clamp(1rem, 4vw, 2rem);
  outline: unset;
}

.navbar__links a i {
  display: flex;
  transition: transform 0.2s ease-in-out;
}

.navbar__links a i:hover {
  transform: translateY(-2px);
}

.navbar__shortcuts {
  width: 100%;
  height: 100%;
  display: flex;
  gap: clamp(0.5rem, 2vw, 1.25rem);
  align-items: center;
}

.navbar__shortcuts a {
  height: 100%;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 5px clamp(0.5rem, 5%, 3rem);
  border-radius: 10px;
  outline: unset;
  transition: background-color 0.125s ease-in-out;
}

#navbar__light .navbar__search {
  background-color: var(--lighter-primary-light-color);
  color: var(--lighter-text-light-color);
}

#navbar__dark .navbar__search {
  background-color: var(--darker-primary-light-color);
  color: var(--darker-text-light-color);
}

#navbar__light .navbar__search_select option {
  background-color: var(--lighter-background-color);
  color: var(--lighter-text-darker-color);
}

#navbar__dark .navbar__search_select option {
  background-color: var(--darker-background-color);
  color: var(--darker-text-light-color);
}

/* Container para dar o formato de pílula e fundo escuro */
.navbar__search {
}

#navbar__light .navbar__shortcuts a:hover {
  background-color: var(--lighter-primary-hover-color);
}

#navbar__dark .navbar__shortcuts a:hover {
  background-color: var(--darker-primary-hover-color);
}

.navbar__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.navbar__content__mode__sun,
.navbar__content__mode__night {
  height: 25px;
  width: 75px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  padding: 0.5rem;
}

#navbar__light .navbar__content__mode__sun {
  background-color: var(--lighter-primary-hover-color);
}

#navbar__light .navbar__content__mode__night {
  background-color: var(--lighter-primary-light-color);
}

#navbar__dark .navbar__content__mode__sun {
  background-color: var(--darker-primary-hover-color);
}

#navbar__dark .navbar__content__mode__night {
  background-color: var(--darker-primary-light-color);
}

#navbar__light #navbar__content__mode_sun_active,
#navbar__light #navbar__content__mode_sun_deactive {
  background-color: var(--lighter-sun-color);
}

#navbar__dark #navbar__content__mode_sun_active,
#navbar__dark #navbar__content__mode_sun_deactive {
  background-color: var(--darker-sun-color);
}

#navbar__content__mode_sun_active,
#navbar__content__mode_sun_deactive {
  position: absolute;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}

#navbar__content__mode_moon_active,
#navbar__content__mode_moon_deactive {
  position: absolute;
  border-radius: 50%;
  height: 0.875rem;
  width: 0.875rem;
}

#navbar__content__mode_sun_active {
  right: 5px;
  animation: sunrize 0.5s ease-in-out;
}

#navbar__content__mode_sun_deactive {
  left: 5px;
  animation: sunfading 0.5s ease-in-out;
}

#navbar__light #navbar__content__mode_moon_active {
  background-color: var(--lighter-primary-hover-color);
}

#navbar__dark #navbar__content__mode_moon_active {
  background-color: var(--lighter-primary-hover-color);
}

#navbar__content__mode_moon_active {
  animation: showMoon 0.5s ease-in-out;
  opacity: 0;
  right: 0px;
}

#navbar__light #navbar__content__mode_moon_deactive {
  background-color: var(--lighter-primary-light-color);
}

#navbar__dark #navbar__content__mode_moon_deactive {
  background-color: var(--darker-primary-light-color);
}

#navbar__content__mode_moon_deactive {
  animation: hideMoon 0.5s ease-in-out;
  opacity: 1;
  left: 12.5px;
}

@keyframes sunrize {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes sunfading {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes showMoon {
  0% {
    transform: translateX(-50.25px);
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes hideMoon {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
  }
}
