#hero__light,
#hero__dark {
  width: 100%;
  padding: 7rem clamp(1.875rem, 10%, 10rem);
  line-height: 375%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  transition:
    color 0.125s ease-in-out,
    background-color 0.125s ease-in-out;
}

#hero__light {
  color: var(--lighter-text-dark-color);
  background-color: var(--lighter-background-color);
}

#hero__dark {
  color: var(--lighter-text-light-color);
  background-color: var(--darker-background-color);
}

#hero__light h1,
#hero__dark h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: clamp(2.5rem, 10vw, 3rem);
  text-align: center;
}

#hero__light h2,
#hero__dark h2 {
  font-size: clamp(2rem, 2vw, 2.25rem);
}

#hero__light h2::first-letter,
#hero__dark h2::first-letter {
  text-transform: uppercase;
}

.hero__introduction p,
.hero__cities p,
.hero__data p,
.hero__dash p {
  font-size: clamp(1rem, 2vw, 1.25rem);
}

.hero__introduction,
.hero__cities,
.hero__cities__content,
.hero__data,
.hero__dash {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  width: 100%;
  height: 100%;
}

#hero__light strong {
  color: var(--lighter-secondary-color);
}

#hero__dark strong {
  color: var(--darker-secondary-color);
}

.hero__cities__graph {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero__cities__graph_map {
  width: 100%;
  display: flex;
  border-radius: 0.5rem;
  flex-direction: column;
  gap: 10px;
  height: clamp(300px, 50vw, 600px);
}

#hero__light .hero__cities__graph_map {
  background-color: var(--lighterMapBackground);
}

#hero__dark .hero__cities__graph_map {
  background-color: var(--darkerMapBackground);
}

.hero__cities__graph_map_itens {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
