:root {
  /* For light mode */
  --lighter-primary-color: #1c3148;
  --lighter-primary-light-color: #26415d;
  --lighter-primary-hover-color: #4978ab;
  --lighter-secondary-color: #d27b31;
  --lighter-secondary-light-color: #ffcd5f;
  --lighter-background-color: #ffffff;
  --lighter-map-background: #d4dadc;
  --lighter-map-color: #fafaf8;
  --lighter-text-dark-color: #212529;
  --lighter-text-light-color: #eeeeee;
  --lighter-sun-color: #ffcd5f;

  /* For dark mode */
  --darker-primary-color: #479ba7;
  --darker-primary-light-color: #60adb9;
  --darker-primary-hover-color: #65bfcd;
  --darker-secondary-color: #51c6c0;
  --darker-secondary-light-color: #61d6d0;
  --darker-background-color: #212727;
  --darker-map-background: #2b2d2d;
  --darker-text-dark-color: #212529;
  --darker-text-light-color: #eeeeee;
  --darker-sun-color: #ffcd5f;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Nunito", "Arial";
}

body {
  height: 100dvh;
  width: 100vw;
  font-size: 62.5%;
}

#div {
  height: 100%;
  width: 100%;
}
