* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Nunito", "Arial";
}

body {
  height: 100dvh;
  width: 100vw;
  font-size: 62.5%;
  overflow-x: hidden;
}

#div {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  scrollbar-width: none;
}
