:root {
  --primary-color: #1c3148;
  --primary-light-color: #26415d;
  --primary-hover-color: #4978ab;
  --secondary-color: #d27b31;
  --secondary-light-color: #ffcd5f;
  --background-light-color: #fefefe;
  --background-dark-color: #7d7d7d;
  --success-color: #216b31;
  --sucess-light-color: #6cd769;
  --error-color: #b51515;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Nunito", "Arial";
}

body {
  height: 100dvh;
  width: 100vw;
  background: var(--background-light-color);
  font-size: 62.5%;
}

#div {
  height: 100%;
  width: 100%;
}
